{% extends 'base.html' %} {% load static %} {% block content%}


<section class="quiz-question">

    <div class="container bg-alpha-light pt-4 pb-4">

        <div class="row justify-content-evenly">

            <div class="col-10 p-4">

                {% include 'quiz/includes/messages.html' %}

                <h3><p>{{ques_num}}. {{question_object.question}}</p></h3>

                <form action="" class="quiz-question-content" method="POST">

                    {% csrf_token %}

                    {% for answer_choice in answer_choices %}

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="selected_answer" id="answer" value= "{{answer_choice}}">
                        <label class="form-check-label" for="answer">
                            {{answer_choice}} 
                        </label>
                        {% if reveal_correct_answer and answer_choice == correct_answer %}  <div class="correct-answer" >This was the correct one!</div>  {% endif %}
                    </div>
                    
                    {% endfor %}

                    {% if not allow_next_ques %}
                    <button type="submit" id="submit_quiz" class="btn btn-primary btn-alpha text-beta-light">Submit</button>
                    {% endif %}
                </form>

                {% if allow_next_ques %}
                <a href="{% url 'quiz:display_quiz' next %}" class="btn btn-primary btn-alpha text-beta-light me-4">Next question</a>
                {% endif %}
            </div>


        </div>



    </div>



</section>




{% endblock content%}