{% extends 'base.html' %} {% load static %} {% block content%}

<section class="quizzes">
  <div class="container bg-alpha-light pt-4 pb-4">
    <h2 class="text-center text-alpha heading">Hello, {{request.user.first_name}}</h2>

    <h2 class="text-center text-alpha content">Yoru available quizzes:</h2>

    <div class="quiz-cards">
      <div class="row justify-content-center">
        
        {% for quiz in quizzes %}

        <div class="col-sm-4 my-4">
          <div class="card bg-beta text-alpha-light">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title">{{quiz.title}}</h5>
              <p class="card-text"></p>
              <!-- url variable '1' ensures that questions start from 1st -->
              <a href="{% url 'quiz:display_quiz' quiz.title 1 %}" class=" start_quiz btn btn-primary btn-alpha text-beta-light p-3">Start</a>
            </div>
          </div>
        </div>

        {% endfor %}


      </div>
    </div>
  </div>
</section>

{% endblock content %}